<%= react_component("Main", props = { user_id: @user_id, shelf: @user_shelf}) %>

<!-- <h1>Welcome, user <%= @user_id %></h1>
<p>If that ID is 79913579, this is just Eric's account.</p>

<h2>Books Read: </h2>

<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Author Info</th>
    <th>Goodreads ID</th>
    <th>Author ID</th>
  </tr>
  <% @user_shelf.each do |bk| %>
    <tr>
      <th><%= bk.title %></th>
      <th><%= bk.author %></th>
      <th class="demographics" id=<%= bk.author_id %> ></th>
      <th><%= bk.goodid %></th>
      <th><%= bk.author_id %></th>
    </tr>
  <% end %>
</table>

<div> User shelf: <%= @user_shelf %> </div> -->
